[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

# Notebook
jupyter = "*"
IPython = "*"

# Numeric and Data Structures
numpy = "*"
pandas = "*"

# Machine Learning
scikit-learn = "1.1.1"

# Deep Learning
tensorflow-macos = "*"
tensorflow-metal = "*"

# Visualisation
pydot = "*"
graphviz = "*"
seaborn = "*"
matplotlib = "*"

# Statistics
statsmodels = "*"
networkx = "*"
pyvis = "*"

[dev-packages]

[requires]
python_version = "3.8"
